<style></style>

{% style %}
{% endstyle %}

<section>
  <h1>{{ section.settings.footer_linklist_title }}</h1>
  <div>
    {% for block in section.blocks %}
      {% case block.type %}
        {% when "heading" %}
        <h2>{{ block.settings.heading }}</h2>
        {%  when "button" %}
        <a href="{{ block.settings.button_link }}">{{ block.settings.button }}</a>
      {% endcase %}
    {% endfor %}
  </div>
</section>
<section>
  {% section "footer" none %}
</section>

{% if section.settings.image != blank %}
    {{ section.settings |  image_url: width: 800 | image_tag  }}
{% endif %}

{% schema %}
{
  "name": "First Section",
  "settings": [
    {
      "type": "text",
      "id": "footer_linklist_title",
      "label": "Heading",
      "default": "Quick links"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Energistically scale high-quality portals via standards compliant scenarios. Interactively implement resource sucking portals rather than accurate potentialities. Competently transform exceptional quality vectors rather than cross-platform."
        }
      ]
    },
    {
      "type": "button",
      "name": "Buttons",
      "settings": [
        {
          "type": "text",
          "id": "button",
          "label": "button",
          "default": "Learn More"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "first-section",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
